<h1 class="text-center">Registrar Usuario</h1>
<form method="post" action="/auth/registrar">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input type="password" name="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600">Registrar</button>
</form>
